/* - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) 
*/
/* font-family: 'Nunito Sans', sans-serif; */

:root {
   --font-color: hsl(200, 15%, 8%);
   --bg-color: hsl(0, 0%, 98%);
   --input-color: hsl(0, 0%, 52%);
   --bg-el: hsl(0, 0%, 100%);
}

[data-theme="dark"] {
   --font-color: hsl(0, 0%, 100%);
   --bg-color: hsl(207, 26%, 17%);
   --input-color: hsl(0, 0%, 100%);
   --bg-el: hsl(209, 23%, 22%);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
   box-sizing: border-box;
}

body {
   font-family: 'Nunito Sans', sans-serif;
   color: var(--font-color);
   background-color: var(--bg-color);
   font-weight: 300;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2rem 4.8rem;
   /* height: 8rem; */
   background-color: var(--bg-el);
   box-shadow: 0px 2px 1px -2px var(--font-color);
}

.header__title {
   font-size: 2.4rem;
   font-weight: 800;
   color: var(--font-color);
}

.dark-mode {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.6rem;
   font-weight: 600;
   gap: .5rem;
   background-color: var(--bg-el);
   cursor: pointer;
}

.dark-mode__icon {
   color: var(--font-color);
}

.main {
   max-width: 130rem;
   padding: 0 2rem 4rem 2rem;
   margin: 0 auto;
}

.filter-box {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 4rem 0;
}

.search {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40rem;
   background-color: var(--bg-el);
   padding: 1rem 2rem;
   gap: 1rem;
   box-shadow: 0 0 1px var(--font-color);
}


.search__input {
   font-family: inherit;
   font-size: 1.4rem;
   color: var(--input-color);
   background-color: var(--bg-el);
   border: none;
   width: 100%;
   transition: width .2s;
}

.search__input:focus {
   outline: none;
   color: var(--input-color);
}

.search__input::placeholder {
   color: inherit;
}

.search__button {
   border: none;
   background-color: var(--bg-el);
   color: var(--input-color);
}

.form-control {
   font-family: inherit;
   border: none;
   color: var(--font-color);
   background-color: var(--bg-el);
   box-shadow: 0 0 1px var(--font-color);
   width: 16em;
   height: 4rem;
   padding: 0 4em 0 1em;
}

.form-control:focus {
   outline: none;
}

.countries {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   grid-gap: 7rem;
   justify-items: center;
}

.country {
   display: flex;
   flex-direction: column;
   text-decoration: none;
   min-height: 32rem;
   max-width: 70rem;
   overflow: hidden;
   box-shadow: 0 0 1px var(--font-color);
   background-color: var(--bg-el);
   cursor: pointer;
   transition: transform .2s;
}

.country:hover {
   transform: translateY(-.5remgit);
   box-shadow: 0 0 1px var(--input-color);
}

.country__img {
   width: 30rem;
   height: 20rem;
   object-fit: cover;
}

.country__data {
   display: flex;
   flex-direction: column;
   color: var(--font-color);
   padding: 0 2rem 2rem 2rem;
   gap: .5rem;
}

.country__name {
   display: inline-block;
   font-size: 1.6rem;
   padding: 2rem 0 1rem 0;
   font-weight: 800;
   color: var(--font-color);
}

.country__row {
   font-size: 1.2rem;
}

.font-bold {
   font-weight: 600;
}

.details {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 10rem;
}

.details__img {
   width: 60rem;
   height: 35rem;
   object-fit: cover;
}

.details__info {
   padding: 4rem 0;
}

.details__title {
   font-size: 2.4rem;
   font-weight: 800;
   color: var(--font-color);
}

.details__box {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 4rem 0;
}

.details__text-box {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.details__text {
   font-size: 1.2rem;
   color: var(--font-color);
}

.border {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 1rem;
}

.border__country {
   padding: .5rem;
   background-color: var(--bg-el);
   box-shadow: 0 0 1px var(--font-color);
}

.border__link {
   font-size: 1.2rem;
   color: var(--font-color);
   text-decoration: none;
}

.back-button {
   background-color: var(--bg-el);
   box-shadow: 0 0 1px var(--font-color);
   padding: 1rem 2rem;
   cursor: pointer;
}

.back-button__link {
   font-size: 1.6rem;
   font-weight: 600;
   color: var(--font-color);
   text-decoration: none;
}

.spinner {
   margin: 5rem auto;
   text-align: center;
}

.spinner svg {
   height: 6rem;
   width: 6rem;
   fill: var(--font-color);
   animation: rotate 2s infinite linear;
}

@keyframes rotate {
   0% {
      transform: rotate(0);
   }

   100% {
      transform: rotate(360deg);
   }
}

.message,
.error {
   max-width: 40rem;
   margin: 0 auto;
   padding: 5rem 4rem;
   display: flex;
}

.message svg,
.error svg {
   height: 3rem;
   width: 3rem;
   fill: var(--font-color);
   transform: translateY(-0.3rem);
}

.message p,
.error p {
   margin-left: 1.5rem;
   font-size: 1.8rem;
   line-height: 1.5;
   font-weight: 600;
}

.back-box {
   display: flex;
   align-items: center;
   justify-content: start;
   padding: 4rem 0;
}

.hidden {
   display: none;
   padding: 0;
}